  <% content_for :body_tag do %>
    id="home"
  <% end %>

  <% title @page.name %>

  <p>
    <%= raw(@page.content) %>
  </p>
</article>
<article>
  <h3><%= @project.name %></h3>

  <p>
    <%= raw(@project.description) %>
  </p>
</article>
<article>
  @blog

