<footer>
				<div class="wrap">
					<section class="first-col">
						<h4>Contact</h4>
						<p>If you would like to discuss a project, get a quote or ask a question then please either send an email or fill out the <a href="/contact">contact form</a> and we will get back to you.</p>
						<ul>
							<li>Email: info@simplapps.co.uk</li>
							<li>Contact Form: Click <a href="/contact">here</a></li>
							<li class="last">Doncaster, S. Yorks, UK</li>
						</ul>
					</section>
					<section>
						<h4>Colophon</h4>
						<p>We developed this website using Ruby on Rails v3. This allows us to easily change the content of the site.  It also allows us to track the projects we have worked on anddisplay their details on the website. The site is HTML5 and CSS3 validated.</p>
					</section>
					<section>
						<h4>Other Places To Find Us</h4>
						<ul>
							<li><a href="http://twitter.com/simplapps">Twitter</a></li>
							<li><a href="http://twitter.com/simplapps">LinkedIn</a></li>
							<li><a href="http://about.me/simplapps">About.Me</a></li>
							<li><a href="http://www.facebook.com/pages/Simplapps/215018771845425">Facebook</a></li>
							<li class="last"><a href="http://www.delicious.com/nicko777">Delicious</a></li>
						</ul>
					</section>
					<section class="full">
						&copy; 2011 <a href="www.simplapps.co.uk">SimplApps.co.uk</a>
					</section>
				</div>
			</footer>

